## Inserir dados da tabela do BD

### Connect to database

In [5]:
# !pip3 install --user pysqlite3
# !pip install sqlalchemy
# !pip install pandas

In [6]:
import sqlite3 
from sqlalchemy import create_engine
import pandas as pd

In [12]:
## 1 - Criar a conexao do bd
#db=create_engine('sqlite:///datasets///db_olist.sqlite',echo=False) # linux
db=create_engine('sqlite:///C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset///db_olist.sqlite',echo=False)
conn=db.connect()

## Loading Datasets

In [8]:
## 2- listar todos os bd importados 
!ls -l dataset

"ls" non Ã¨ riconosciuto come comando interno o esterno,
 un programma eseguibile o un file batch.

In [43]:
## 3- ler a bd com pandas
df_costumer = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_customers_dataset.csv')

## 4- criar um esquema com o nome das colunas e o tipo de dados (TEXT, INTERGER, REAL)
schema_customer = """

CREATE TABLE customer(
    customer_id                 TEXT,
    customer_unique_id          TEST,
    customer_zip_code_prefix    INTERGER,
    customer_city               TEXT,
    customer_state              TEXT
    )
    """

## 5- executar o schema
conn.execute(schema_customer)


## 6- insert data into table (append lista apos ou replace lista substituindo)
df_costumer.to_sql('customer', con=conn, if_exists='append', index=False)

99441

In [45]:
# dataset
df_customer = pd.read_csv( 'C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_customers_dataset.csv' )
schema_customer = """
CREATE TABLE customer(
    customer_id
    TEXT,
    customer_unique_id
    TEXT,
    customer_zip_code_prefix
    INTEGER,
    customer_city
    TEXT,
    customer_state
    TEXT
    )
    """
# crate schema
#conn.execute( schema_customer )
# insert data into table
df_customer.to_sql( 'customer', con=conn, if_exists='append', index=False )

99441

In [46]:
df_geolocation = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_geolocation_dataset.csv')


schema_geolocation = """

CREATE TABLE geolocation(

    geolocation_zip_code_prefix    INTERGER,
    geolocation_lat                REAL,
    geolocation_lng                REAL,
    geolocation_city               TEXT,
    geolocation_state              TEXT


)
"""

## create schema
#conn.execute(schema_geolocation)


## insert data into table 
df_geolocation.to_sql('geolocation', con=conn, if_exists='append', index=False)

1000163

In [47]:
df_order_items = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_order_items_dataset.csv')


schema_order_items = """

CREATE TABLE order_items(

    order_id                TEXT,
    order_item_id           INTERGER,
    product_id              TEXT,
    seller_id               TEXT,
    shipping_limit_date     TEXT,
    price                   REAL,
    freight_value           REAL

)

"""

## create schema
#conn.execute(schema_order_items)


## insert data into table 
df_order_items.to_sql('order_items', con=conn, if_exists='append', index=False)

112650

In [48]:
df_order_payments = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_order_payments_dataset.csv')


schema_order_payments = """

CREATE TABLE order_payments(

    order_id                  TEXT,
    payment_sequential        INTERGER,
    payment_type              TEXT,
    payment_installments      INTERGER,
    payment_value             REAL

)

"""

## create schema
#conn.execute(schema_order_payments)


## insert data into table 
df_order_payments.to_sql('order_payments', con=conn, if_exists='append', index=False)

103886

In [49]:
df_order_reviews = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_order_reviews_dataset.csv')


schema_order_reviews = """

CREATE TABLE order_reviews(

    review_id                  TEXT,
    order_id                   TEXT,
    review_score               INTERGER,
    review_comment_title       TEXT,
    review_comment_message     TEXT,
    review_creation_date       TEXT,
    review_answer_timestamp    TEXT

)

"""

## create schema
#conn.execute(schema_order_reviews)


## insert data into table 
df_order_reviews.to_sql('order_reviews', con=conn, if_exists='replace', index=False)

99224

In [50]:
df_orders = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_orders_dataset.csv')


schema_orders= """

CREATE TABLE orders(

    order_id                         TEXT,
    customer_id                      TEXT,
    order_status                     TEXT,
    order_purchase_timestamp         TEXT,
    order_approved_at                TEXT,
    order_delivered_carrier_date     TEXT,
    order_delivered_customer_date    TEXT,
    order_estimated_delivery_date    TEXT

)

"""

## create schema
#conn.execute(schema_orders)


## insert data into table 
df_orders.to_sql('orders', con=conn, if_exists='replace', index=False)

99441

In [51]:
df_products = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_products_dataset.csv')


schema_products= """

CREATE TABLE products(

    product_id                     TEXT,
    product_category_name          TEXT,
    product_name_lenght           REAL,
    product_description_lenght    REAL,
    product_photos_qty            REAL,
    product_weight_g              REAL,
    product_length_cm             REAL,
    product_height_cm             REAL,
    product_width_cm              REAL
)

"""

## create schema
#conn.execute(schema_products)


## insert data into table 
df_products.to_sql('products', con=conn, if_exists='replace', index=False)

32951

In [52]:
df_sellers = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\olist_sellers_dataset.csv')


schema_sellers= """

CREATE TABLE sellers(

    seller_id                 TEXT,
    seller_zip_code_prefix    INTERGER,
    seller_city               TEXT,
    seller_state              TEXT
)

"""

## create schema
#conn.execute(schema_sellers)


## insert data into table 
df_sellers.to_sql('sellers', con=conn, if_exists='replace', index=False)

3095

In [53]:
df_category_name_translation = pd.read_csv('C:\\Users\\Utente77\\repos\\olist_brazil_avanced_sql\\dataset\\product_category_name_translation.csv')


schema_category_name_translation= """

CREATE TABLE category_name_translation(

    product_category_name            TEXT,
    product_category_name_english    TEXT
)

"""

## create schema
#conn.execute(schema_category_name_translation)


## insert data into table 
df_category_name_translation.to_sql('category_name_translation', con=conn, if_exists='replace', index=False)

71

In [54]:
##8 -Ver o tipo de dados pra copiar no esquema
df_category_name_translation.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

## Check Database

In [55]:
## ver se a tabela foi criada 

query="""
SELECT name
FROM sqlite_master
WHERE type ='table'
"""

# query="""
# SELECT *
# FROM geolocation
# """

table=pd.read_sql_query(query,conn)
table

                        name
0                   customer
1                geolocation
2                order_items
3             order_payments
4              order_reviews
5                     orders
6                   products
7                    sellers
8  category_name_translation

# SQL Alchemy

In [56]:
import sqlalchemy as sa

In [57]:
db=create_engine('sqlite:///Datasets///db_olist.sqlite',echo=False)
conn=db.connect()