# Curso del DS ao DEV

## Inserir dados da tabela do BD

## Connect to database

In [3]:
import sqlite3 
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd

In [4]:
## 1 - Criar a conexao do bd
db=create_engine('sqlite:///dataset///db_olist.sqlite',echo=False)
conn=db.connect()

## Loading Datasets

In [5]:
## 2- listar todos os bd importados 
#!ls

In [6]:
## 3- ler a bd com pandas
df_costumer = pd.read_csv('dataset/olist_customers_dataset.csv')

### customer

In [46]:

## 4- criar um esquema com o nome das colunas e o tipo de dados (TEXT, INTERGER, REAL)
schema_customer = """

CREATE TABLE customer(
    customer_id                 TEXT,
    customer_unique_id          TEST,
    customer_zip_code_prefix    INTERGER,
    customer_city               TEXT,
    customer_state              TEXT
    )
    """

## 5- executar o schema
conn.execute(schema_customer)


## 6- insert data into table (append lista apos ou replace lista substituindo)
df_costumer.to_sql('customer', con=conn, if_exists='append', index=False)

OperationalError: (sqlite3.OperationalError) table customer already exists
[SQL:

CREATE TABLE customer(
    customer_id                 TEXT,
    customer_unique_id          TEST,
    customer_zip_code_prefix    INTERGER,
    customer_city               TEXT,
    customer_state              TEXT
    )
    ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### geolocation

In [28]:
df_geolocation = pd.read_csv('dataset/olist_geolocation_dataset.csv')


schema_geolocation = """

CREATE TABLE geolocation(

    geolocation_zip_code_prefix    INTERGER,
    geolocation_lat                REAL,
    geolocation_lng                REAL,
    geolocation_city               TEXT,
    geolocation_state              TEXT


)
"""

## create schema
#conn.execute(schema_geolocation)


## insert data into table 
df_geolocation.to_sql('geolocation', con=conn, if_exists='append', index=False)

1000163

### order_items

In [29]:
df_order_items = pd.read_csv('dataset/olist_order_items_dataset.csv')


schema_order_items = """

CREATE TABLE order_items(

    order_id                TEXT,
    order_item_id           INTERGER,
    product_id              TEXT,
    seller_id               TEXT,
    shipping_limit_date     TEXT,
    price                   REAL,
    freight_value           REAL

)

"""

## create schema
#conn.execute(schema_order_items)


## insert data into table 
df_order_items.to_sql('order_items', con=conn, if_exists='append', index=False)

112650

### order_payments

In [30]:
df_order_payments = pd.read_csv('dataset/olist_order_payments_dataset.csv')


schema_order_payments = """

CREATE TABLE order_payments(

    order_id                  TEXT,
    payment_sequential        INTERGER,
    payment_type              TEXT,
    payment_installments      INTERGER,
    payment_value             REAL

)

"""

## create schema
#conn.execute(schema_order_payments)


## insert data into table 
df_order_payments.to_sql('order_payments', con=conn, if_exists='append', index=False)

103886

### order_reviews

In [31]:
df_order_reviews = pd.read_csv('dataset/olist_order_reviews_dataset.csv')


schema_order_reviews = """

CREATE TABLE order_reviews(

    review_id                  TEXT,
    order_id                   TEXT,
    review_score               INTERGER,
    review_comment_title       TEXT,
    review_comment_message     TEXT,
    review_creation_date       TEXT,
    review_answer_timestamp    TEXT

)

"""

## create schema
#conn.execute(schema_order_reviews)


## insert data into table 
df_order_reviews.to_sql('order_reviews', con=conn, if_exists='replace', index=False)

99224

### orders

In [32]:
df_orders = pd.read_csv('dataset/olist_orders_dataset.csv')


schema_orders= """

CREATE TABLE orders(

    order_id                         TEXT,
    customer_id                      TEXT,
    order_status                     TEXT,
    order_purchase_timestamp         TEXT,
    order_approved_at                TEXT,
    order_delivered_carrier_date     TEXT,
    order_delivered_customer_date    TEXT,
    order_estimated_delivery_date    TEXT

)

"""

## create schema
#conn.execute(schema_orders)


## insert data into table 
df_orders.to_sql('orders', con=conn, if_exists='replace', index=False)

99441

### products

In [33]:
df_products = pd.read_csv('dataset/olist_products_dataset.csv')


schema_products= """

CREATE TABLE products(

    product_id                     TEXT,
    product_category_name          TEXT,
    product_name_lenght           REAL,
    product_description_lenght    REAL,
    product_photos_qty            REAL,
    product_weight_g              REAL,
    product_length_cm             REAL,
    product_height_cm             REAL,
    product_width_cm              REAL
)

"""

## create schema
#conn.execute(schema_products)


## insert data into table 
df_products.to_sql('products', con=conn, if_exists='replace', index=False)

32951

### sellers

In [13]:
df_sellers = pd.read_csv('Datasets/olist_sellers_dataset.csv')


schema_sellers= """

CREATE TABLE sellers(

    seller_id                 TEXT,
    seller_zip_code_prefix    INTERGER,
    seller_city               TEXT,
    seller_state              TEXT
)

"""

## create schema
#conn.execute(schema_sellers)


## insert data into table 
df_sellers.to_sql('sellers', con=conn, if_exists='replace', index=False)

### category_name_translation

In [34]:
df_category_name_translation = pd.read_csv('dataset/product_category_name_translation.csv')


schema_category_name_translation= """

CREATE TABLE category_name_translation(

    product_category_name            TEXT,
    product_category_name_english    TEXT
)

"""

## create schema
#conn.execute(schema_category_name_translation)


## insert data into table 
df_category_name_translation.to_sql('category_name_translation', con=conn, if_exists='replace', index=False)

71

## Check table

In [14]:
#8 - Ver o tipo de dados pra copiar no esquema
df_category_name_translation.dtypes

NameError: name 'df_category_name_translation' is not defined

In [15]:
## ver se a tabela foi criada 

query="""
SELECT name
FROM sqlite_master
WHERE type ='table'
"""

table=pd.read_sql_query(query,conn)
table

                        name
0                   customer
1                geolocation
2                order_items
3             order_payments
4      product_category_name
5                    sellers
6              order_reviews
7                     orders
8                   products
9  category_name_translation

# Exercicios PA Bond - aula 2

## 1 Gere uma tabela com o id do cliente, a cidade e o estado onde ele vive.

In [7]:
## ver se a tabela foi criada 

query="""
SELECT
c.customer_id ,
c.customer_city ,
c.customer_state
FROM customer c
LIMIT 100;

"""
table=pd.read_sql_query(query,conn)
table

                         customer_id          customer_city customer_state
0   06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1   18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2   4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3   b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4   4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP
..                               ...                    ...            ...
95  f89c1a6b9c966869e441e55bc14acddc             sao carlos             SP
96  23e96758fd640560e9b1fbcda90abfc4              sao paulo             SP
97  369708cabd9831ea6fde670a3b602a92              sao paulo             SP
98  5f8b4882b5a4ec7bf6d2107e6cd0cf29                niteroi             RJ
99  ad6891a1937cb8723a2c08ba1ae59873               sao luis             MA

[100 rows x 3 columns]

## 2. Gere uma tabela com o id do cliente e a cidade, somente dos clientes que vivem em Santa Catarina.

In [8]:
query="""
SELECT
c.customer_id ,
c.customer_city ,
c.customer_state
FROM customer c
WHERE c.customer_state = 'SC'
LIMIT 100;

"""
table=pd.read_sql_query(query,conn)
table

                         customer_id   customer_city customer_state
0   879864dab9bc3047522c92c82e1212b8  jaragua do sul             SC
1   154c4ded6991bdfa3cd249d11abf4130   florianopolis             SC
2   b6368ca0f56d4632f44d58ca431487b2        sao jose             SC
3   4d27341acd30a36bca39008ee9bb9050  jaragua do sul             SC
4   443b534d0d27a8aa9a184d4869bcbe7a  jaragua do sul             SC
..                               ...             ...            ...
95  32e23352f904da0c1128c0e9cf4ee89e  guaruja do sul             SC
96  03a2a04722a38803d8c29c7339998d54        sao jose             SC
97  44e28727116b6aaf62a51b276aba9247        blumenau             SC
98  da513f66aecb0c97a487d422bf105af0         tubarao             SC
99  80cd284463cd296129eab19cac5f012f         videira             SC

[100 rows x 3 columns]

## 3. Gere uma tabela com o id do cliente e o estado, somente dos clientes que vivem em Florianópolis.

In [9]:
query="""
SELECT
c.customer_id ,
c.customer_city ,
c.customer_state
FROM customer c
WHERE c.customer_city = 'florianopolis'
LIMIT 100;

"""
table=pd.read_sql_query(query,conn)
table

                         customer_id  customer_city customer_state
0   154c4ded6991bdfa3cd249d11abf4130  florianopolis             SC
1   2173c184771a8a19f6fc87d8b3dea9e0  florianopolis             SC
2   02f615f19af07c54a0d4653308f6674b  florianopolis             SC
3   151260cb5d9b3c220d0af50c81c329a9  florianopolis             SC
4   d494b02fb3835e2d398d44ea7f275bce  florianopolis             SC
..                               ...            ...            ...
95  8395381b2c2766ebceb43c768072fbce  florianopolis             SC
96  280b6e60c0323ca7dea55d10501f5291  florianopolis             SC
97  5c1547bae5d0f335ad4b7728b54be141  florianopolis             SC
98  12a371f2183b5d71d81830f3dd3b32c8  florianopolis             SC
99  0fb80a7fe135dc3abd1469007f5b9ac7  florianopolis             SC

[100 rows x 3 columns]

## 4. Gere uma tabela com o estado, latitude e longitude do estado de São Paulo

In [10]:
query="""
SELECT
g.geolocation_lat,               
g.geolocation_lng,
geolocation_state
FROM geolocation g
WHERE geolocation_state = 'SP'
LIMIT 100;

"""
table=pd.read_sql_query(query,conn)
table

    geolocation_lat  geolocation_lng geolocation_state
0        -23.545621       -46.639292                SP
1        -23.546081       -46.644820                SP
2        -23.546129       -46.642951                SP
3        -23.544392       -46.639499                SP
4        -23.541578       -46.641607                SP
..              ...              ...               ...
95       -23.546129       -46.642951                SP
96       -23.544667       -46.640669                SP
97       -23.546341       -46.636239                SP
98       -23.549107       -46.644105                SP
99       -23.549292       -46.633559                SP

[100 rows x 3 columns]

## 5. Gere uma tabela com o id do produto, a data de envio e o preço, somente para produtos acima de 6300

In [11]:
query="""
SELECT
oi.product_id,
oi.price,
oi.shipping_limit_date
FROM order_items oi
WHERE oi.price>6300
LIMIT 100;

"""
table=pd.read_sql_query(query,conn)
table

                         product_id   price  shipping_limit_date
0  489ae2aa008f021502940f251d4cce7f  6735.0  2017-02-16 20:37:36
1  1bdf5e6731585cf01aa8169c7028d6ad  6499.0  2017-06-15 02:45:17
2  69c590f7ffc7bf8db97190b6cb6ed62e  6729.0  2018-08-02 04:05:13
3  489ae2aa008f021502940f251d4cce7f  6735.0  2017-02-16 20:37:36
4  1bdf5e6731585cf01aa8169c7028d6ad  6499.0  2017-06-15 02:45:17
5  69c590f7ffc7bf8db97190b6cb6ed62e  6729.0  2018-08-02 04:05:13
6  489ae2aa008f021502940f251d4cce7f  6735.0  2017-02-16 20:37:36
7  1bdf5e6731585cf01aa8169c7028d6ad  6499.0  2017-06-15 02:45:17
8  69c590f7ffc7bf8db97190b6cb6ed62e  6729.0  2018-08-02 04:05:13

## 6. Gere uma tabela com o id do pedido, o tipo de pagamento e o número de parcelas, somente para produtos com parcelas menores que 1.

In [19]:
query="""
SELECT
op.order_id ,
op.payment_type ,
op.payment_installments
FROM order_payments op
WHERE op.payment_installments < 1

"""
table=pd.read_sql_query(query,conn)
table

                           order_id payment_type  payment_installments
0  744bade1fcf9ff3f31d860ace076d422  credit_card                     0
1  1a57108394169c0b47d8f876acc9ba2d  credit_card                     0
2  744bade1fcf9ff3f31d860ace076d422  credit_card                     0
3  1a57108394169c0b47d8f876acc9ba2d  credit_card                     0
4  744bade1fcf9ff3f31d860ace076d422  credit_card                     0
5  1a57108394169c0b47d8f876acc9ba2d  credit_card                     0
6  744bade1fcf9ff3f31d860ace076d422  credit_card                     0
7  1a57108394169c0b47d8f876acc9ba2d  credit_card                     0

## 7. Gere uma tabela com o id do pedido, id do cliente, o status do pedido e a data de aprovação , somente para compras aprovadas até dia 05 de Maio de 2016

In [23]:
query="""
SELECT
o.order_id ,
o.customer_id ,
o.order_status ,
o.order_approved_at
FROM orders o
WHERE o.order_approved_at < '2016-10-05'

"""
table=pd.read_sql_query(query,conn)
table

,order_id,customer_id,order_status,order_approved_at
0,7033745709b7cf1bac7d2533663592de,7f0ca17bb33b230b47459437cf0682c7,delivered,2016-10-04 14:46:48
1,cd3b8574c82b42fc8129f6d502690c3e,7812fcebfc5e8065d31e1bb5f0017dae,delivered,2016-10-04 10:19:23
2,c4b41c36dd589e901f6879f25a74ec1d,4bb880cac21c7a9e1371ab1ebd601706,delivered,2016-10-04 13:26:11
3,711b9be9c346d9ecdb9d38a5e1e7e39b,81e4aed5ab4253757305267b80712689,invoiced,2016-10-04 14:08:38
4,3f72d2b757e725cd48a4726f831c7789,e0de521fbb397bd7e83d079fe66357b5,delivered,2016-10-04 13:47:04
5,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38
6,79ffdd52a918bbe867895a4b183d6457,f9808148a262b51d20e2d777eee6676c,delivered,2016-10-04 12:25:20
7,ef1b29b591d31d57c0d7337460dd83c9,dc607dc98d6a11d5d04d9f2a70aa6c34,delivered,2016-10-04 10:28:19
8,c3d9e402b6a0fbe2a5f7fc5b41117c38,5720a15d022c09d2634c71c80c8d4102,delivered,2016-10-04 10:45:33
9,36989eb07a0de2d3d3129eea35553875,aadd27185177fc7ac9b364898ac09343,delivered,2016-10-04 13:46:31
10,ae8a60e4b03c5a4ba9ca0672c164b181,e6f959bf384d1d53b6d68826699bba12,delivered,2016-10-04 10:28:25
11,1ff217aa612f6cd7c4255c9bfe931c8b,b3a9bf200375f53cc5c6991919c356fd,delivered,2016-10-04 09:43:32
12,22613579f7d11cc59c4347526fc3c79e,53cc5d344077104b59d4f6836a90eb0b,delivered,2016-10-04 14:27:49
13,ed8c7b1b3eb256c70ce0c74231e1da88,da0ba2a9935bca5b4610b0e3bca9d3b4,delivered,2016-10-04 10:25:46
14,46046adea0e222a29259bad3d922fee8,e9722ab28655e07763e0ca2751c61c90,delivered,2016-10-04 11:06:07
15,1aecadf4362edaca7fa033e882076c8d,e81a9f176936e3124dfd90c483bf3289,canceled,2016-10-04 10:26:40
16,4d66b3a9d12facad48a3b23cc9fe7898,bd6048a0960b15881f1ae5dca277fb52,delivered,2016-10-04 14:09:08
17,f3f12fc90564a9b036680a887cd64668,3c521eac04e2dca4702dcc69789618c2,delivered,2016-10-04 13:47:06
18,d207cc272675637bfed0062edffd0818,b8cf418e97ae795672d326288dfab7a7,delivered,2016-10-04 10:28:07
19,65d1e226dfaeb8cdc42f665422522d14,70fc57eeae292675927697fe03ad3ff5,canceled,2016-10-04 10:18:57
20,63638a6806d67773f3adba8534553fff,16e14c1e6e050fe6730c961ff638ca23,delivered,2016-10-04 13:47:45

# Exercicios PA Bond - aula 3

## 1. Qual o número de clientes únicos do estado de Minas Gerais?

In [27]:
query="""
SELECT
COUNT( DISTINCT customer_id )
FROM customer c
WHERE customer_state = 'MG'

"""
table=pd.read_sql_query(query,conn)
table

   COUNT( DISTINCT customer_id )
0                          11635

In [28]:
query="""
SELECT
COUNT( customer_id )
FROM customer c
WHERE customer_state = 'MG'

"""
table=pd.read_sql_query(query,conn)
table

   COUNT( customer_id )
0                 46540

## 2. Qual a quantidade de cidades únicas dos vendedores do estado de Santa Catarina?

In [31]:
query="""
SELECT
COUNT( DISTINCT seller_city )
FROM sellers s
WHERE s.seller_state = 'SC'

"""
table=pd.read_sql_query(query,conn)
table

   COUNT( DISTINCT seller_city )
0                             65

## 3.Qual a quantidade de cidades únicas de todos os vendedores da base?

In [33]:
query="""
SELECT
COUNT( DISTINCT seller_city )
FROM sellers s

"""
table=pd.read_sql_query(query,conn)
table

   COUNT( DISTINCT seller_city )
0                            611

## 4. Qual o número total de pedidos únicos acima de R$ 3.500

In [34]:
query="""
SELECT
COUNT( DISTINCT order_id )
FROM order_items oi
WHERE price > 3500

"""
table=pd.read_sql_query(query,conn)
table

   COUNT( DISTINCT order_id )
0                          18

## 5. Qual o valor médio do preço de todos os pedidos?

In [35]:
query="""

SELECT
AVG( price )
FROM order_items oi

"""
table=pd.read_sql_query(query,conn)
table

   AVG( price )
0    120.653739

## 6. Qual o maior valor de preço entre todos os pedidos?

## 7. Qual o menor valor de preço entre todos os pedidos?

## 8. Qual a quantidade de produtos distintos vendidos abaixo do preço de R$ 100.00?

## 9. Qual a quantidade de vendedores distintos que receberam algum pedido antes do dia 23 de setembro de 2016?

## 10. Quais os tipos de pagamentos existentes?

## 11. Qual o maior número de parcelas realizado?

## 12. Qual o menor número de parcelas realizado?

## 13. Qual a média do valor pago no cartão de crédito?

## 14. Quantos tipos de status para um pedido existem?

## 15. Quais os tipos de status para um pedido?

## 16. Quantos clientes distintos fizeram um pedido?

## 17. Quantos produtos estão cadastrados na empresa?

## 18. Qual a quantidade máxima de fotos de um produto?

## 19. Qual o maior valor do peso entre todos os produtos?

## 20. Qual a altura média dos produtos?